[Unit]
Description=Gonny Spreader, serves detections from the database
Requires=network.target
Requires=time-sync.target
After=network.target
After=time-sync.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/gonny/cmds/spreader/main
Environment="LOG_LEVEL=warning"

[Install]
WantedBy=multi-user.target
